Sol 13

In [15]:

def printPascal(n) : 
	
	# Iterate through every line 
	# and print entries in it 
	for line in range(0, n) : 
		
		# Every line has number of 
		# integers equal to line 
		# number 
		for i in range(0, line + 1) : 
			print(binomialCoeff(line, i), 
				" ", end = "") 
		print() 
	


def binomialCoeff(n, k) : 
	res = 1
	if (k > n - k) : 
		k = n - k 
	for i in range(0 , k) : 
		res = res * (n - i) 
		res = res // (i + 1) 
	
	return res 

# Driver program 
n = 5
printPascal(n)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1

Sol 14

In [16]:

def Diamond(rows): 
	n = 0
	for i in range(1, rows + 1): 
		# loop to print spaces 
		for j in range (1, (rows - i) + 1): 
			print(end = " ") 
		
		# loop to print star 
		while n != (2 * i - 1): 
			print("*", end = "") 
			n = n + 1
		n = 0
		
		# line break 
		print() 

	k = 1
	n = 1
	for i in range(1, rows): 
		# loop to print spaces 
		for j in range (1, k + 1): 
			print(end = " ") 
		k = k + 1
		
		# loop to print star 
		while n <= (2 * (rows - i) - 1): 
			print("*", end = "") 
			n = n + 1
		n = 1
		print() 

# Driver Code 
# number of rows input 
rows = 5
Diamond(rows)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *